{% extends "template.html" %} {% block edituser%}

<!-- 
        - First name
        - Last Name
        - Date of Birth (Use DatePicker)
        - Specialty (Database Admin, SOftware Developer, Web Administrator, Other)
        - Email Address
        - Contact Number
     -->
<br />
<h1 class="viewstex">Edit User</h1>

<div class="container mt-100">
  <form method="post" action="index.php?action=EditusersPost">
    <input
      type="hidden"
      class="form-control"
      id="id"
      name="id"
      value="{{r.user_id}}"
    />

    <div class="form-group">
      <label for="firstname">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstname"
        name="firstname"
        value="{{r.firstname}}"
      />
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input
        value="{{r.lastname}}"
        type="text"
        class="form-control"
        id="lastname"
        name="lastname"
      />
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        value="{{r.email}}"
        type="email"
        class="form-control"
        id="email"
        name="email"
        aria-describedby="emailHelp"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        aria-describedby="passwordHelp"
      />
      <small id="passwordHelp" class="form-text text-muted"
        >We'll never share your password with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="dob">Date Of Birth</label>
      <input
        value="{{r.dob}}"
        type="date"
        class="form-control"
        id="dob"
        name="dob"
      />
    </div>
    <select
      class="form-select"
      aria-label="Default select example"
      name="user_type"
    >
      {% if r.user_type=="admin" %}
      <option value="user">user</option>
      <option value="admin" selected>Admin</option>
      {% endif %} {% if r.user_type=="user" %}
      <option value="user" selected>user</option>
      <option value="admin">Admin</option>
      {% endif %}
    </select>
    <br />
    <br />
    <br />
    <br />

    <button type="submit" name="submit" class="btn btn-primary btn-block">
      Submit
    </button>
  </form>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% endblock %}
