<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />

   
    <link href="style.css" rel="stylesheet" />
    <title>Event</title>
  </head>

  <body>
    <div class="ahmed">
      <div class="nav1">
        <h1>Evenement</h1>
      </div>
      <div class="nav2">
        <a href="index.php?action=AddEvent">ajouter evenement</a>

        <a href="index.php?action=ViewEvent">View evenement</a>

        <a href="index.php?action=Register">Inscription</a>
        <a href="index.php?action=Login">Login <span class="sr-only">(current)</span></a>

        <a href="index.php?action=viewUsers">View Users</a>

        <a href="../views/veiwUser.php?id="
          ><span>Hello ! </span> <span class="sr-only">(current)</span></a
        >
        <a class="nav-item nav-link" href="index.php?action=LogOut"
          >Logout <span class="sr-only">(current)</span></a
        >
      </div>
    </div>

    <div class="container_ahmed">
        {% block hello %} 
        
        
        {% endblock %}
        {% block user %} 
         {% endblock %}
         
        {% block edituser%}
        {% endblock %}

        {% block usersingle %}
        {% endblock %}


        {% block Register %}
        {% endblock %}


        {% block Login %}
        {% endblock %}



        {% block AddEvent %}
        {% endblock %}


        {% block ViewEvent %}
        {% endblock %}
        {% block EditEvent %}
          {% endblock %}


          {% block eventdetail %}

          {% endblock %}

    </div>

    <footer
      style="width: 100%"
      class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
    >
      <p
        style="text-align: center; width: 100%"
        class="col-md-4 mb-0 text-muted"
      >
        Copyright &copy; - IT Conference Event System
       
      </p>

      <a
        href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
      >
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
    





      
    </footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(function() {
    $("#dob").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "-100:+0",
        dateFormat: "yy-mm-dd"
    });
});
</script>
  </body>
</html>
