{% extends "template.html" %} {% block ViewEvent %}

<div class="viewstext">Views evenement</div>

<table class="table">
  <tr>
    <th>#</th>
    <th>Titre d'evenement</th>

    <th>Date de debut</th>

    <th>Actions</th>
  </tr>
  {% for r in result %}
  <tr>
    <td>{{r.event_id}}</td>
    <td>{{r.eventname}}</td>
    <td>{{r.date_debut}}</td>
    <td>
      <a
        href="index.php?action=ViewEventDet&id={{r.event_id}}"
        class="btn btn-primary"
        >View</a
      >
      {% if u.user_type=='admin' %}
      <a
        href="index.php?action=EditEvent&id={{r.event_id}}"
        class="btn btn-warning"
        >Edit</a
      >
      <a
        onclick="return confirm('Are you sure you want to delete this record?');"
        href="index.php?action=DeleteEvent&id={{r.event_id}}"
        class="btn btn-danger"
        >Delete</a
      >
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
