{% extends "template.html" %} {% block user %}

<div class="viewstext">Mon Profil</div>

<div class="viewD" style="margin-top: -100px">
  <div class="d1">
    <img src="UploadsUserPath/ahmedmami940@gmail.com.jpg" />
  </div>

  <div class="d2">
    <div class="h1">{{r.firstname}} {{r.lastname}} {{ f }}</div>
    <div class="h3">
      Date de naissance : {{r.dob}}
      <div class="h3">email : {{r.email}}</div>

      <br />
      <div class="btnss">
        <a
          href="index.php?action=Editusers&id={{r.user_id}}"
          class="btn btn-warning"
          style="width: 175px; margin-top: 10px"
          >Edit</a
        >
        <a
          style="width: 175px; margin-top: 10px"
          href="index.php?action=ViewReservationUser&id={{r.user_id}}"
          class="btn btn-primary"
        >
          Views Reservation</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
